/* custom styling */
html,
body {
	height: 100%;
}
img {
	max-width: 100%;
}
#cover{
	background: url('img/img3.jpg') bottom center no-repeat;
	background-size: cover;
	color: black;
	height: 100%;
	display: flex;
	text-align: center;
	align-items: center;
}
#cover-caption{
	width: 100%;
	
}
.section-content{
	padding: 5rem 0;
}
#about {
	background: url(img/abt.jpg) center center no-repeat;
	background-size: cover;
	
}
.about-text{
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 1.875rem;
}
.twitter::hover{
	background-color: #3B5998;
}
ul.unstyled{
	list-style-type: none;
	display: inline;
}
.unstyled>li{
	display: inline;
}